.contactPage {
  height: auto;
  min-height: 100vh;
  background: url("../../assets/bara.png");
  background-size: 50%;
  background-position: right center;
  background-repeat: no-repeat;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-direction: column;
}

.contactInfo {
  color: white;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin: 0 auto;
  line-height: 150%;
  font-size: 18px;
}

.contactH2 {
  width: 350px;
  font-size: 32px;
  margin: 35px 0;
}

.contactPage .contactInfo span {
  font-size: 24px;
  width: 450px;
  display: flex;

  justify-content: start;
  align-items: start;
  text-align: start;
  padding: 0;
  margin: 25px 0;
}

.icons {
  margin: 0 15px 0 0;
  width: 24px;
}
.contactPage svg {
  /* width: 32px; */
  font-size: 32px;
  position: relative;
  bottom: 2px;
}

a {
  color: white;
  text-decoration: none;
}

/* indicator for contact */
