.price {
  height: auto;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.6) url("../../assets/price.jpg");
  background-blend-mode: darken;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 600px) {
  .price {
    background: rgba(0, 0, 0, 0);
  }
}

.priceInfo {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.priceInfo h2 {
  font-size: 38px;
  width: 420px;
}
.priceInfo p {
  width: 420px;
  font-size: 22px;
  text-align: left;
}
