html {
  width: 100%;
  min-height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
#root {
  width: 100%;
  height: 100%;
}
path {
  color: #00fa9a;
}

/* indicators */

/* .arrowNext {
  color: #f3f3f3;
  position: relative;
  height: 100px;
} */

.leftInfo {
  position: absolute;
  height: 100vh;
  width: 125px;
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  opacity: 0.2;
  transition: opacity 1s ease;
  left: 0;
  display: flex;
  justify-content: start;
  padding-right: 10px;
  align-items: center;
  cursor: pointer;
}
.rightInfo {
  position: absolute;
  height: 100vh;
  width: 125px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  opacity: 0.2;
  transition: opacity 1s ease;
  right: 0;
  display: flex;
  justify-content: end;
  padding-right: 10px;
  align-items: center;
  cursor: pointer;
}
.leftInfo:hover {
  opacity: 1;
}
.rightInfo:hover {
  opacity: 1;
}

.arrowNextIcons {
  font-size: 100px !important;
  margin: 2px;
}

.phoneVersionStyle {
  display: none;
}

@media screen and (max-width: 600px) {
  .fullScreanV {
    display: none;
  }
  .phoneVersionStyle {
    display: flex;
    flex-direction: column;
    background-image: url("./assets/infop.jpg") !important;
    background-attachment: fixed;
    background-size: cover;
  }
}

/* asoasddfhidfh n */
html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
}

#root {
  width: 100%;
  height: 100%;
}

.hero-slider-overlay {
  color: white;
  background-color: rgba(0, 0, 0, 0.15);
}

.index-module_Horizontal__8-P70 {
  display: none;
}

ul > .index-module_Button__Xnq8E {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 360%;
  height: 15px;
  min-width: 15px;
  border-bottom: none;
  position: relative;
  top: 10px;
}

ul > .index-module_Active__l5OO4 {
  background-color: rgba(0, 0, 0, 0.9);
}

.heroS {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  border-top: 1px solid black;
}

.refSpan {
  position: relative;
  top: 15px;
}

.swiperP {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid blue;
}
